<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>ischool</h2>
            <h4>info@ischool.com</h4>
        </div>
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL"> -->
        <img src="https://previews.123rf.com/images/vectorstockcompany/vectorstockcompany1808/vectorstockcompany180809714/106916647-school-icon-vector-isolated-on-white-background-for-your-web-and-mobile-app-design-school-logo-conce.jpg" alt="Soufiane FADIL">
        <!-- <button mat-raised-button (click)="logout()">Logout</button> -->
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">Teachers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Students</a>

    <mat-divider></mat-divider>
</mat-nav-list>
