<h2>Create Student</h2>
<div>
  <form (ngSubmit)="onSubmit()"> 
    <!-- First name -->   
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" placeholder="Enter Firstname" 
                id="fname" required [(ngModel)]="student.fname" name="fname">
    </div>
    <!-- Last name -->
    <div class="form-group">
        <label for="lname">Last Name:</label>
        <input type="text" class="form-control" placeholder="Enter Lastname" 
                  id="lname" required [(ngModel)]="student.lname" name="lname">
    </div>  
    <!-- Password -->
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Enter Password" 
                  id="password" required [(ngModel)]="student.password" name="password">
    </div>        
    
    <!-- Login Id -->
    <div class="form-group">
      <label for="loginId">Login Id</label>
      <input type="number" class="form-control" placeholder="Enter Login Id" 
                  id="loginId" required [(ngModel)]="student.loginId" name="loginId">
    </div>

    <!-- User Class -->
    <div class="form-group">
        <label for="class">Class:</label>
        <input type="text" class="form-control" placeholder="Enter Class" 
                  id="class" required [(ngModel)]="student.class" name="class">
    </div>

    <!-- Phone -->
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="number" class="form-control" placeholder="Enter Phone Number" 
                    id="phone" required [(ngModel)]="student.phone" name="phone">
      </div>

    <!-- User Status -->
    <div class="form-group">
        <label for="userStatus">User Status</label>
        <input type="text" class="form-control" placeholder="Enter Class"
                    id="userStatus"  required [(ngModel)]="student.userStatus" name="userStatus">
      </div>

    <!-- Created Timestamp -->
    <div class="form-group">
        <label for="createdTimestamp">Created Timestamp</label>
        <input type="text" class="form-control" placeholder="Created Timestamp"
                    id="createdTimestamp" required [(ngModel)]="student.createdTimestamp" name="createdTimestamp">
      </div>

    <!-- Modified Timestamp -->
    <div class="form-group">
        <label for="modifiedTimestamp">Modified Timestamp</label>
        <input type="text" class="form-control" placeholder="Modified Timestamp"
                    id="modifiedTimestamp" required [(ngModel)]="student.modifiedTimestamp" name="modifiedTimestamp">
      </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<app-message></app-message>
<app-list-student></app-list-student>
